Source: ykfde
Section: admin
Priority: optional
Maintainer: Andrei Gherzan <https://github.com/agherzan>
Build-Depends: debhelper (>= 11), dh-exec
Standards-Version: 4.1.4
Homepage: https://github.com/agherzan/yubikey-full-disk-encryption

Package: ykfde
Architecture: all
Depends: cryptsetup, initramfs-tools, yubikey-personalization (>= 1.5), udisks2, expect, ${misc:Depends}
Description: This project leverages a YubiKey HMAC-SHA1 Challenge-Response
 mode for creating strong LUKS encrypted volume passphrases. 
 It can be used in intramfs stage during boot process as well as on running system.
 .
 Requires Yubikey 4 or newer. 
